
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID">
	<display-name>Modulo6</display-name>
	
	<!-- CLASES -->
	<servlet>
		<description>
		</description>
		<display-name>Inicio</display-name>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>controlador.Inicio</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrearCapacitacion</display-name>
		<servlet-name>CrearCapacitacion</servlet-name>
		<servlet-class>controlador.CrearCapacitacion</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Contacto</display-name>
		<servlet-name>Contacto</servlet-name>
		<servlet-class>controlador.Contacto</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CriterioEvaluacion</display-name>
		<servlet-name>CriterioEvaluacion</servlet-name>
		<servlet-class>controlador.CriterioEvaluacion</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListaCapacitaciones</display-name>
		<servlet-name>ListaCapacitaciones</servlet-name>
		<servlet-class>controlador.ListaCapacitaciones</servlet-class>
	</servlet>
	
	<!-- MAPPING -->
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/inicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrearCapacitacion</servlet-name>
		<url-pattern>/crearcapacitacion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contacto</servlet-name>
		<url-pattern>/contacto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CriterioEvaluacion</servlet-name>
		<url-pattern>/evaluacionuno</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaCapacitaciones</servlet-name>
		<url-pattern>/listacapacitaciones</url-pattern>
	</servlet-mapping>
	
	<!-- Prioridades para el inicio -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>